*.o
/autom4te.cache
/Makedefs
/Makefile
/config.h
/config.log
/config.status
/scratch
desktop/htmldoc.plist
doc/htmldoc.epub
doc/htmldoc.html
doc/htmldoc.pdf
doc/htmldoc.ps
htmldoc/htmldoc
htmldoc/htmldoc.app
htmldoc/htmldoc.exe
htmldoc/testhtml
htmldoc/testhtml.exe
jpeg/libjpeg.a
png/libpng.a
vcnet/*.exe
vcnet/*.lib
vcnet/*.msi
vcnet/*.opensdf
vcnet/*.suo
vcnet/*.user
vcnet/Win32
vcnet/x64
xcode/htmldoc.xcodeproj/project.xcworkspace/
xcode/htmldoc.xcodeproj/xcuserdata/
zlib/libz.a
