/*
 * "$Id: standard.css,v 1.2 2004/10/23 23:17:04 mike Exp $"
 *
 *   Standard stylesheet for HTMLDOC.
 *
 *   Copyright 1997-2004 by Easy Software Products.
 *
 *   These coded instructions, statements, and computer programs are the
 *   property of Easy Software Products and are protected by Federal
 *   copyright law.  Distribution and use rights are outlined in the file
 *   "COPYING.txt" which should have been included with this file.  If this
 *   file is missing or damaged please contact Easy Software Products
 *   at:
 *
 *       Attn: ESP Licensing Information
 *       Easy Software Products
 *       44141 Airport View Drive, Suite 204
 *       Hollywood, Maryland 20636 USA
 *
 *       Voice: (301) 373-9600
 *       EMail: info@easysw.com
 *         WWW: http://www.easysw.com
 */

/*
 * Map all elements to their corresponding display types; the default
 * display: attribute value is "inline"...
 */

html, address, blockquote, body, dd, div, dl, dt, fieldset,
form, frame, frameset, h1, h2, h3, h4, h5, h6, noframes, ol, p,
ul, center, dir, hr, menu, pre
{
  display: block;
}

li
{
  display: list-item;
}

head
{
  display: none;
}

table
{
  display: table;
}

tr
{
  display: table-row;
}

thead
{
  display: table-header-group;
}

tbody
{
  display: table-row-group;
}

tfoot
{
  display: table-footer-group;
}

col
{
  display: table-column;
}

colgroup {
  display: table-column-group;
}

td, th
{
  display: table-cell;
}

caption
{
  display: table-caption;
  text-align: center;
}

th
{
  font-weight: bolder;
  text-align: center;
}

body
{
  margin: 8px;
  line-height: 1.12;
  font-family: serif;
  font-size: 11pt;
  background: white;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

h1
{
  font-size: 2em;
  margin: .67em 0;
}

h2
{
  font-size: 1.5em;
  margin: .75em 0;
}

h3
{
  font-size: 1.17em;
  margin: .83em 0;
}

h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu
{
  margin: 1.12em 0;
}

h5
{
  font-size: .83em;
  margin: 1.5em 0;
}

h6
{
  font-size: .75em;
  margin: 1.67em 0;
}

h1, h2, h3, h4, h5, h6, b, strong
{
  font-weight: bolder;
}

address {
  margin-left: 40px;
}

blockquote
{
  margin-left: 40px;
  margin-right: 40px;
}

i, cite, em, var, address
{
  font-style: italic;
}

pre, tt, code, kbd, samp
{
  font-family: monospace;
}

pre
{
  white-space: pre;
}

button, textarea, input, object,  select
{
  display:inline-block;
}

big
{
  font-size: 1.17em;
}

small, sub, sup
{
  font-size: .83em;
}

sub
{
  vertical-align: sub;
}

sup
{
  vertical-align: super;
}

table
{
  border-spacing: 2px;
}

thead, tbody, tfoot
{
  vertical-align: middle;
}

td, th
{
  vertical-align: inherit;
}

s, strike, del
{
  text-decoration: line-through;
}

hr
{
  border: 1px inset;
}

ol, ul, dir, menu, dd
{
  margin-left: 40px;
}

ol
{
  list-style-type: decimal;
}

ul, dir {
  list-style-type: disc;
}

ol ul, ul ol, ul ul, ol ol
{
  margin-top: 0;
  margin-bottom: 0;
}

u, ins
{
  text-decoration: underline;
}

br:before
{
  content: "\A";
}

:before, :after
{
  white-space: pre-line;
}

center
{
  text-align: center;
}

abbr, acronym
{
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

:link, :visited
{
  text-decoration: underline;
}

a:link {
  color: blue;
}

a:visited {
  color: red;
}

a:active {
  color: lime;
}

a:link img {
  border: 2px solid blue;
}

a:visited img {
  border: 2px solid red;
}

a:active img {
  border: 2px solid lime;
}


/*
 * End of "$Id: standard.css,v 1.2 2004/10/23 23:17:04 mike Exp $".
 */
