/*
 * "$Id$"
 *
 *   Standard stylesheet for HTMLDOC.
 *
 *   Copyright 1997-2005 by Easy Software Products.
 *
 *   These coded instructions, statements, and computer programs are the
 *   property of Easy Software Products and are protected by Federal
 *   copyright law.  Distribution and use rights are outlined in the file
 *   "COPYING.txt" which should have been included with this file.  If this
 *   file is missing or damaged please contact Easy Software Products
 *   at:
 *
 *       Attn: ESP Licensing Information
 *       Easy Software Products
 *       44141 Airport View Drive, Suite 204
 *       Hollywood, Maryland 20636 USA
 *
 *       Voice: (301) 373-9600
 *       EMail: info@easysw.com
 *         WWW: http://www.easysw.com
 */

/*
 * Map all elements to their corresponding display types; the default
 * display: attribute value is "inline"...
 */

html, address, blockquote, body, dd, div, dl, dt, fieldset, form,
frame, frameset, h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11,
h12, h13, h14, h15, noframes, ol, p, ul, center, dir, hr, menu,
pre {
  display: block;
}

li {
  display: list-item;
}

head {
  display: none;
}

table {
  display: table;
}

tr {
  display: table-row;
}

thead {
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

tfoot {
  display: table-footer-group;
}

col {
  display: table-column;
}

colgroup {
  display: table-column-group;
}

td, th {
  display: table-cell;
}

caption {
  display: table-caption;
  text-align: center;
}

th {
  font-weight: bolder;
  text-align: center;
}

body {
  margin: 8px;
}

p, blockquote, ul, fieldset, form, ol, dl, dir, menu {
  margin: 1.12em 0;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, h12, h13, h14, h15 {
  font-family: sans-serif;
}

h1 {
  font-size: 150%;
  margin: .67em 0;
}

h2 {
  font-size: 140%;
  margin: .75em 0;
}

h3 {
  font-size: 130%;
  margin: .83em 0;
}

h4 {
  font-size: 120%
  margin: 1.12em 0;
}

h5 {
  font-size: 110%;
  margin: 1.5em 0;
}

h6, h7, h8, h9, h10, h11, h12, h13, h14, h15 {
  margin: 1.67em 0;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11, h12, h13, h14, h15, b, strong {
  font-weight: bold;
}

address {
  margin-left: 40px;
}

blockquote
{
  margin-left: 40px;
  margin-right: 40px;
}

i, cite, em, var, address
{
  font-style: italic;
}

pre, tt, code, kbd, samp
{
  font-family: monospace;
}

pre
{
  white-space: pre;
}

button, textarea, input, object,  select
{
  display: inline;
}

big
{
  font-size: 1.17em;
}

small, sub, sup
{
  font-size: .83em;
}

sub
{
  vertical-align: sub;
}

sup
{
  vertical-align: super;
}

table
{
  border-spacing: 2px;
}

thead, tbody, tfoot
{
  vertical-align: middle;
}

s, strike, del
{
  text-decoration: line-through;
}

hr
{
  border: 1px inset;
}

ol, ul, dir, menu, dd
{
  margin-left: 40px;
}

ol
{
  list-style-type: decimal;
}

ul, dir {
  list-style-type: disc;
}

ol ul, ul ol, ul ul, ol ol
{
  margin-top: 0;
  margin-bottom: 0;
}

u, ins
{
  text-decoration: underline;
}

center
{
  text-align: center;
}

abbr, acronym
{
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

a:link {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: red;
  text-decoration: underline;
}

a:active {
  color: lime;
}

a:link img {
  border: 2px solid blue;
}

a:visited img {
  border: 2px solid red;
}

a:active img {
  border: 2px solid lime;
}


/*
 * End of "$Id$".
 */
