BODY {
  background: #ffffff;
  color: #000000;
  font-family: sans-serif;
  margin: 0;
  text-align: justify;
}

P, TD, TH {
  color: #000000;
  font-family: sans-serif;
}

H2.title {
  font-style: italic;
  line-height: 100%;
  margin-top: 5px;
  margin-bottom: 0;
  text-decoration: underline;
}

H1, H2, H3, H4, H5, H6 {
  color: #000000;
  font-family: sans-serif;
}

KBD {
  color: #006600;
  font-family: monospace;
  font-weight: bold;
}

PRE {
  color: #7f0000;
  font-family: monospace;
}

PRE.command {
  margin-left: 3em;
}

SUB, SUP {
  font-size: 50%;
}

TABLE.page {
  border: none;
  border-collapse: collapse;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

TD.pagelogo {
  border: none;
  border-bottom: solid 2px #000011;
  padding: 0;
  vertical-align: bottom;
}

TD.pagelinks, TD.pagetitle {
  background-color: #99cccc;
  color: #000011;
  padding: 0px 10px;
  white-space: nowrap;
  width: 100%;
}

TD.pagetitle {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  height: 32px;
}

TD.pagelinks {
  border-bottom: solid 2px #000011;
  font-size: 90%;
  height: 32px;
}

TD.page {
  background-color: #e0e0f4;
  height: 100%;
  padding: 10px 20px;
  vertical-align: top;
  width: 100%;
}

TD.pagefooter {
  background: #000011;
  color: #99cccc;
  font-size: 80%;
  padding: 5px;
  width: 100%;
}

TABLE.standard {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: thin solid #000011;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

TR.header {
  border-bottom: thin solid #000011;
}

TR.header TH {
  color: #000011;
  padding: 0px 5px;
}

TR.footer TH {
  background-color: #99cccc;
  border: thin solid #000011;
  color: #000011;
  padding: 10px;
}

TR.data0 {
  background-color: #d8d8e8;
  border-left: thin solid #000011;
  border-right: thin solid #000011;
}

TR.data1 {
  background-color: #d0d0e0;
  border-left: thin solid #000011;
  border-right: thin solid #000011;
}

TR.data0 TD, TR.data1 TD {
  padding: 5px;
}

INPUT[TYPE="TEXT"], TEXTAREA {
  font-family: monospace;
}

A:link, A:visited {
  text-decoration: none;
  font-weight: bold;
  color: #00007f;
}

A:link:hover, A:visited:hover, A:active {
  text-decoration: underline;
  font-weight: bold;
  color: #0000ff;
}

DL {
  margin-left: 2em;
}

.valid {
}

.invalid {
  color: red;
}
