/*
 * Style sheet for the HTML 4.0 specification
 * $Id: default.css,v 1.1 2002/07/18 00:26:26 mike Exp $
 */

div.example {
    width: 100%;
    color: black;
}
div.dtd-example {
    width: 100%;
    color: black;
}
tt.example {
    color: maroon;
    margin-left: 1em;
}
pre {
    color: maroon;
    margin-left: 1em;
}
div.dtd-fragment {
    width: 100%;
    border: none;
    background-color: #eee;
}
pre.dtd-fragment {
    margin-left: 0;
}
pre.dtd {
    color: black;
    margin-left: 0;
}
div.illegal-example {
    width: 100%;
    color: red;
    border: solid red;
}
div.illegal-example p {
    color: black;
}
div.deprecated-example {
    width: 100%;
    color: red;
    border: solid rgb(255,165,0); /* orange */
}
div.deprecated-example p {
    color: black;
}
div.note {
    color: green;
    margin-left: 1em;
}
p.note {
    color: green;
    margin-left: 1em;
}
ul.toc {
    list-style-type: none;
}

a.normref { 
    color : red;
}	

a.informref {
    color : green;
}	

DIV.subtoc {padding: 1em; border: solid thin; margin: 1em 0;
    background: #ddd}
