[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=HTMLDOC
Comment=HTML Conversion Software
TryExec=htmldoc
Exec=htmldoc %F
Icon=htmldoc
Terminal=false
Categories=Application;Office;X-Red-Hat-Base;
