[Desktop Entry]
Type=Application
Name=HTMLDOC
Comment=HTML Conversion Software
TryExec=htmldoc
Exec=htmldoc %F
Icon=htmldoc
Terminal=false
Categories=Application;Office;X-Red-Hat-Base;
Keywords=HTML;PDF;EPUB;Converter
